NODE_ENV=development

# Server
SERVER_PORT=3000

# Database
DATABASE_USERNAME=dpm
DATABASE_PASSWORD=dpm
DATABASE_HOST=dpm-postgres
DATABASE_NAME=dpm
DATABASE_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
